body {
  padding: 20px 50px;
  line-height: 1.6;
  font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden
}

.popup {
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
  font-family: sans-serif;
  border: 1px solid rgba(0,0,0,0.1);
}
.popup-header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  
  margin: -15px -15px 10px -15px; 
  padding: 10px 15px;
  border-radius: 8px 8px 0 0;
}

/* Color Variations */
.important {
  background-color: #fff9c4;
  color: #827717;
}
.important .popup-header {
  background-color: #f0e68c;
  color: #5d540d;
}

.info {
  background-color: #e3f2fd;
  color: #0d47a1;
}
.info .popup-header {
  background-color: #bbdefb; /* Darker blue background */
  color: #0a3578;
}

.warning {
  background-color: #fce4ec;
  color: #880e4f;
}
.warning .popup-header {
  background-color: #f8bbd0; /* Darker pink background */
  color: #560932;
}

.ui-element {
  font-weight: bold;
}
.code-snippet {
  font-family: "Courier New", Courier, monospace;
  background-color: #f4f4f4;
  color: #333;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
}

.code-block {
  display: block;
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  color: #333;
  padding: 5px 10px;
  margin: 15px 0;
  border-radius: 5px;
}

.image-container {
  margin: 20px 0;
  text-align: center; /* Optional: centers the image in the container */
}

.image-container img {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  display: block;
  max-width: 100%;
  height: auto;
}

.placeholder {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: sans-serif;
}

thead {
  background-color: #f2f2f2;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

tbody tr:nth-of-type(even) {
  background-color: #fafafa;
}
